body {
    min-width: 700px;
    background-color: lightgray;
}

h1 {
    margin: auto;
    padding: 0%;
    text-align: center;
    transform: translateY(75px);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 45px;
    text-shadow: rgba(0, 0, 0, 1) 3px 3px 2px;
}
.container {
    border: solid;
    border-radius: 20px;
    height: 500px;
    width: 600px;
    margin: auto;
    -webkit-user-drag: none;
    background-color: rgb(248, 20, 20);
    padding: 100px;
    box-shadow: rgba(0, 0, 0, 1) 4px 1px 8px;
}

#grid{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 100%;
    -webkit-user-drag: none;
    transform: translateY(-10px);
}

.grid-item {
    border: solid rgba(0, 0, 0, 0.03), 1px;
    text-align: center;
    -webkit-user-drag: none;
}

.controls {
    width: 180px;
    margin: 0 auto;
    padding: 2%;
    border: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    transform: translateY(-100px);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 1) 2px 1px 2px;
}
#sizeSlider{
    cursor: pointer;
}

#sizeValue{
    color: black;
    font-size: larger;
    font-weight: bold;
}

#clear {
    border: solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#color {
    height: 30px;
    margin-left: 7px;
    cursor: pointer;
}